@import ~styles/abstract/variables
@import ~styles/abstract/utils

.pagination
  &-list
    display: flex
    flex-wrap: wrap
    align-self: center
  &-item
    &:not(:last-child)
      margin-right: 5px
  &-button
    width: 40px
    height: 40px
    border-radius: $br-primary
    display: flex
    justify-content: center
    align-items: center
    user-select: none
    font-size: 16px
    color: getColor('text')
    &-disabled
      pointer-events: none
      .pagination-chevron
        opacity: 0.2
    &-active
      background-color: getColor('primary')
      color: getColor('text-contrast')
    +media-max($bp-xs)
      width: 30px
      height: 30px
    +media-max($bp-xxs)
      width: 26px
      height: 26px
      font-size: 12px
  &-chevron
    width: 1rem
