// Fonts
$base-font-size: 16px;
$base-font-family: 'Roboto', sans-serif;

// Grid
$columns: 12;
$gutter: 40px;

// Containers
$cnt-xxl: 1320px;
$cnt-xl: 1140px;
$cnt-lg: 960px;
$cnt-md: 720px;
$cnt-sm: 540px;
$cnt-xs: 100%;

// Breakpoints
$bp-xxl: 1399px;
$bp-xl: 1199px;
$bp-lg: 991px;
$bp-md: 767px;
$bp-sm: 575px;
$bp-xs: 460px;

// Containers Map
$containers: (
  $bp-xxl: $cnt-xl,
  $bp-xl: $cnt-lg,
  $bp-lg: $cnt-md,
  $bp-md: $cnt-sm,
  $bp-sm: $cnt-xs,
);

// Breakpoints Map
$breakpoints: (
  $bp-xs: 'xs',
  $bp-sm: 'sm',
  $bp-md: 'md',
  $bp-lg: 'lg',
  $bp-xl: 'xl',
  $bp-xxl: 'xxl',
);

// Colors
$c-white: #ffffff;
$c-black: #212121;

// Themes
$theme: (
  base: $c-white,
  theme: $c-white,
  text: $c-black,
  text-contrast: $c-white,
);
$theme-dark: (
  base: $c-black,
  theme: #424242,
  text: $c-white,
  text-contrast: $c-black,
);

// UI
$bsh-primary: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
$br-primary: 10px;
